@import "src/styles/vars";

.header {
	@include flex;
	width: 100%;
	
	&-spacer {
		flex: 1;
	}
	
	&-user {
		font-size: 14px;
		font-weight: normal;
	}
	
	&-sidebar {
		&-icon {
			transition: .2s ease all;
			&.rotate {
				transform: rotate(180deg);
			}
		}
	}
}
