@import "src/styles/vars";

.combinebar {
	max-width: 200px;
	
	::ng-deep .mat-expansion-panel-body {
		padding: $gutter / 6;
	}
	
	&-title {
		@include flex(row, center, center);
		.mat-icon {
			margin-right: $gutter / 2;
		}
	}
}
