@import "src/styles/vars";

.navbar {
	position: relative;
	box-sizing: border-box;
	
	height: 100%;
	overflow: hidden;
	
	user-select: none;
	
	&.hide {
		display: none;
	}
}

.subjects {
	width: 100%;
}

.subject {
	@include flex(row);
	
	&.checked {
		transition: .4s ease background-color;
		background-color: #212121;
	}
	
	&-title {
		font-size: 14px;
		font-weight: bold;
	}
	
	&-icon {
		font-size: 16px;
		@include flex(row, center, center);
		flex-basis: 0;
	}
	
	&-info {
		@include flex(column);
		padding-left: $gutter / 2;
	}
	
	&-description {
		font-size: 14px;
		font-weight: lighter;
		opacity: .7;
	}
	
	&-info,
	&-title,
	&-description {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
