<div class="navbar" *ngIf="isOpen$ | async">
    <app-drag-column
        (onDrag)="onDrag($event)"
        [maxWidth]="dragLimits.max"
        [minWidth]="dragLimits.min"
        [width]="width"
    >
        <div class="navbar-inner">
            <mat-nav-list class="subjects" *ngIf="subjectFacade.state$ | async as state">
                <app-list-item
                    title="New Subject"
                    icon="add_circle"
                    #menuTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="menu">
                </app-list-item>

                <mat-menu #menu="matMenu" xPosition="after">
                    <app-navbar-new-subject
                        [menu]="menuTrigger"
                        (keydown)="$event.stopPropagation()"
                        (click)="$event.stopPropagation()"
                        (onSubmit)="create($event)">
                    </app-navbar-new-subject>
                </mat-menu>

                <mat-divider></mat-divider>

                <app-list-item
                    title="All Subjects"
                    icon="folder_open"
                    [isActive]="state.checkedSubject === null"
                    (click)="check(null)">
                </app-list-item>

                <ng-container *ngFor="let subject of state.subjects">
                    <app-list-item
                        [title]="subject.title"
                        [description]="subject.description"
                        [updatedAt]="subject.updatedAt"
                        [isActive]="state.checkedSubject?.id === subject.id"
                        [withMenu]="true"
                        icon="folder_open"
                        color="accent"
                        (click)="check(subject)"
                        (onDelete)="delete(subject)">
                    </app-list-item>

                    <mat-divider></mat-divider>
                </ng-container>
            </mat-nav-list>
        </div>
    </app-drag-column>
</div>


