@import "src/styles/vars";

.navbar {
	position: relative;
	padding: $gutter;
	box-sizing: border-box;
	
	min-width: 200px;
	height: 100%;
	overflow: hidden;
	
	user-select: none;
	
	&.hide {
		display: none;
	}
}

.subjects {
	width: 100%;
	&-icon {
		font-size: 16px;
		@include flex(row, center, center)
	}
}
