<div class="navbar" *ngIf="isOpen$ | async">
    <app-drag-column
        (onDrag)="onDrag($event)"
        [maxWidth]="dragLimits.max"
        [minWidth]="dragLimits.min"
    >
        <div class="navbar-inner">
            <mat-nav-list class="subjects" *ngIf="subjectState">
                <mat-list-item class="subject">
                    <mat-icon class="subject-icon" color="primary">folder_open</mat-icon>
                    <span class="subject-title">All Subjects</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item
                    *ngFor="let subject of subjectState.subjects"
                    class="subject"
                >
                    <mat-icon class="subject-icon" color="primary">folder_open</mat-icon>
                    <span class="subject-title">{{subject.title}}</span>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </app-drag-column>
</div>


