<div class="page">
    <app-header
        [userState]="userState$ | async"
        (logout)="logout()">
    </app-header>

    <main class="main">
        <app-navbar
            [subjectState]="subjectState$ | async"
            [checkedSubject]="checkedSubject$ | async"
            (onCreateSubject)="createSubject($event)"
            (onCheckSubject)="checkSubject($event)"
            (onDeleteSubject)="deleteSubject($event)">
        </app-navbar>

        <app-notebar
            [noteState]="noteState$ | async"
            (onCheckNote)="editNote($event)"
            (onCreateNote)="createNote()">
        </app-notebar>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

