<div class="page">
    <app-header
        [userState]="userState$ | async"
        [isMobile]="isMobile$ | async"
        (logout)="logout()">
    </app-header>

    <main class="main">
        <ng-container *ngIf="!(isMobile$ | async); else mobileBar">
            <app-navbar></app-navbar>
            <app-notebar></app-notebar>
        </ng-container>

        <ng-template #mobileBar>
            <app-combinebar
                [@SlideAnimation]="(ui.combinebar$ | async)?.isOpen
                    ? 'open'
                    : 'closed'"
            >
            </app-combinebar>
        </ng-template>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

