<div class="notebar">
    <app-drag-column *ngIf="noteState">
        <mat-nav-list class="notebar-list">

            <app-list-item
                title="New Note"
                icon="add_circle"
                (click)="create()">
            </app-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <h2 class="notebar-title">{{noteState.checkedSubject?.title || 'All Subjects'}}</h2>
            </mat-list-item>

            <ng-container *ngFor="let item of noteState.notes | keyvalue">
                <app-list-item
                    [title]="item.value.title"
                    [description]="item.value.description"
                    [updatedAt]="item.value.updatedAt"
                    [isActive]="noteState.editNote?.id === item.value.id"
                    [withMenu]="true"
                    icon="splitscreen"
                    color="accent"
                    (click)="checkNote(item.value)"
                    (onDelete)="delete(item.value)">
                </app-list-item>

                <mat-divider></mat-divider>
            </ng-container>

        </mat-nav-list>
    </app-drag-column>
</div>
