<div class="notebar">
    <app-drag-column *ngIf="noteState">
        <mat-nav-list class="notebar-list">

            <mat-list-item class="note" (click)="create()">
                <mat-icon class="note-icon" color="accent">add_circle</mat-icon>
                <div class="note-info">
                    <span class="note-title">Create new</span>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <h2 class="note-title">{{noteState.checkedSubject?.title || 'All Subjects'}}</h2>
            </mat-list-item>


            <ng-container *ngFor="let note of noteState.checkedNotes">
                <mat-list-item class="note" (click)="checkNote(note)">
                    <mat-icon class="note-icon" color="accent">splitscreen</mat-icon>
                    <div class="note-info">
                        <span class="note-title" [innerHTML]="note.title"></span>
                        <span class="note-date">{{note.updatedAt | date}}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>
            </ng-container>

        </mat-nav-list>
    </app-drag-column>
</div>
