@import "src/styles/vars";

.notebar {
	user-select: none;
	height: 100%;
	
	&-list {
		//min-width: 200px;
	}
}

.note {
	&-icon {
		font-size: 14px;
		@include flex(row, center, center);
		user-select: none;
		flex-basis: 0;
	}
	
	&-title {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
