<div class="notebar">
    <app-drag-column *ngIf="noteState">
        <mat-nav-list class="notebar-list">

            <ng-container *ngFor="let note of noteState.notes">
                <mat-list-item class="note" (click)="onCheckNote(note)">
                    <mat-icon class="note-icon" color="accent">splitscreen</mat-icon>
                    <div class="note-info">
                        <span class="note-title">{{note.title}}</span>
                        <span class="note-date">{{note.updatedAt | date}}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>
            </ng-container>

        </mat-nav-list>
    </app-drag-column>
</div>
