<form class="login-form" [formGroup]="form">
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="Ivan" formControlName="firstName" autocomplete="off">
        <mat-error>Required field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="Ivanov" formControlName="lastName" autocomplete="off">
        <mat-error>Required field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input type="tel" matInput placeholder="+79618658766" formControlName="phone">
        <mat-error>Required field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="IvanIvanov@gmail.com" formControlName="email">
        <mat-error *ngIf="form.controls['email'].hasError('required')">Required field</mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="****" formControlName="password">
        <mat-error>Required field</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="****" formControlName="passwordConfirm">
        <mat-error *ngIf="form.controls['passwordConfirm'].hasError('required')">Required field</mat-error>
        <mat-error *ngIf="form.controls['passwordConfirm'].hasError('noEqual')">Пароли не совпадают</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
</form>
