$gutter: 20px;

// flex
@mixin flex($direction: row, $content: flex-start, $item: stretch, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $item;
	flex-wrap: $wrap;
}

@mixin sliceText() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
