<div class="editor" *ngIf="note">
    <div class="editor-control">
        <button mat-icon-button matTooltip="Save" (click)="saveNote()">
            <mat-icon class="material-icons-outlined" color="accent">save</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Bold" (click)="formatDoc('bold')">
            <mat-icon class="material-icons-outlined" color="accent">format_bold</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Cursive" (click)="formatDoc('italic')">
            <mat-icon class="material-icons-outlined" color="accent">format_italic</mat-icon>
        </button>

        <button mat-icon-button matTooltip="List" (click)="formatDoc('insertunorderedlist')">
            <mat-icon class="material-icons-outlined" color="accent">format_list_bulleted</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Numeric list" (click)="formatDoc('insertorderedlist')">
            <mat-icon class="material-icons-outlined" color="accent">format_list_numbered</mat-icon>
        </button>
    </div>

    <div class="editor-area editor-header">
        <div class="editor-description">Title:</div>
        <div class="editor-field">
            <div
                class="editor-title"
                contenteditable
                #titleField
                (keyup)="updateModel('title', titleField.innerHTML)"
                [innerHTML]="note.title">
            </div>
        </div>
    </div>
    <div class="editor-main">

    </div>
    <div class="editor-area editor-body">
        <div class="editor-description">Body:</div>
        <div
            class="editor-field"
            contenteditable
            #descriptionField
            (keyup)="updateModel('description', descriptionField.innerHTML)"
            [innerHTML]="note.description">
        </div>
    </div>
</div>
