@import "src/styles/vars";

.editor {
	padding: $gutter / 2;
	padding-top: $gutter / 3;
	user-select: none;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	
	@include flex(column);
	
	&-control {
		padding-bottom: $gutter;
		@include flex(row);
		
		button {
			@include flex(row, center, center);
		}
	}
	
	&-spacer {
		flex: 1;
	}
	
	&-area {
		@include flex(row)
	}
	
	&-body {
		overflow: hidden;
		
		.editor-field {
			overflow-y: scroll;
		}
	}
	
	&-description {
		width: 45px;
		font-size: 13px;
		opacity: .6;
		flex-shrink: 0;
	}
	
	&-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: $gutter;
		outline: none;
	}
	
	&-field {
		user-select: all;
		outline: none;
		width: 100%;
	}
}

[contenteditable] {
	-webkit-user-select: text;
	user-select: text;
}
